# Telegram
python-telegram-bot[job-queue]==21.11

# HTTP & API
httpx==0.27.0
ccxt==4.3.45

# Data Analysis
numpy==1.26.4
pandas==2.2.2
pandas_ta @ git+https://github.com/twopirllc/pandas-ta.git
ta==0.10.2

# Database
asyncpg==0.30.0
sqlalchemy==2.0.30

# Scheduling
schedule==1.2.2

# Utility
python-dotenv==1.0.1
